a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:10px;  margin: 0; }
.textstyle1 { text-align:center; }
.textstyle2 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_5c504649 { vertical-align: top; position:relative; display: inline-block; width:54%; min-height:723px; max-width:800px; background-color:#C9C9C9;  }
#container_5c504649_padding { margin: 10px; display: block;  }
.textstyle3 { text-align:left; }
#container_7b66f638 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:189px; background:none;  }
#container_7b66f638_padding { margin: 10px; display: block;  }
#iframe_14f6314d { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:174px; background:none; border: 1px solid #A0A0A0;  }
#container_1ff96705 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:450px; background:none;  }
#container_1ff96705_padding { margin: 10px; display: block;  }
#iframe_4c46cf44 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:99%; height:435px; background:none; border: 1px solid #A0A0A0;  }
#container_e4bf9ac { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:181px; background-color:#555583;  }
#container_499f9dd1 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_499f9dd1_padding { margin: 10px; display: block;  }
#container_2fe25639 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_2fe25639_padding { margin: 10px; display: block;  }
#button_46b0c69c { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:200px; height:120px; background-color:#9B6983; background: linear-gradient(to bottom,#9B6983, #452F3A 50%, #36242D 50%, #261A20); border: 2px solid #51373E;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle4 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#container_21c46e0d { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_21c46e0d_padding { margin: 10px; display: block;  }
#button_3bca5026 { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:200px; height:120px; background-color:#636CA0; background: linear-gradient(to bottom,#636CA0, #2C3048 50%, #222538 50%, #181B28); border: 2px solid #34384C;  }
#container_2b8a8e57 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background:none;  }
#container_2b8a8e57_padding { margin: 10px; display: block;  }
#button_77910cbb { box-sizing: border-box; vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; width:200px; height:120px; background-color:#970700; background: linear-gradient(to bottom,#970700, #430300 50%, #340200 50%, #250100); border: 2px solid #4F0300;  }
.textstyle5 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#A8A8A8;  }
@media only screen and (max-width: 600px)
{
		#container_2fe25639 { width:100%;  }
		#container_21c46e0d { width:100%;  }
		#container_2b8a8e57 { width:100%;  }
}
